// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$table-padding-y-sm:        $cushion-y-sm;
$table-padding-x-sm:        $cushion-x-sm;

$table-padding-y-md:        $cushion-y-md;
$table-padding-x-md:        $cushion-x-md;

$table-padding-y-lg:        $cushion-y-lg;
$table-padding-x-lg:        $cushion-x-lg;

$table-padding-y-base:      $table-padding-y-md;
$table-padding-x-base:      $table-padding-x-md;

$table-border:              $border-base;
$table-border-th:           $border-darkest;
$table-border-width-th:     1px;
$table-line-height:         $line-height-base;

// Divided
$table-divided-border-style:solid;
$table-divided-border:      $table-border;

// Striped
$table-striped-bg:          $bg-light;

// Hover
$table-hover-bg:            $bg-base;

// Edge
$table-edge-padding-x:      $cushion-base + $table-padding-x-base;
